USE [t2]
GO
/****** Object:  Table [dbo].[DM_GroupRoles]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_GroupRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_GroupRoles] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_Groups]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_Groups](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [varchar](100) NOT NULL,
	[Name] [nvarchar](256) NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_LoaiXe]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_LoaiXe](
	[MaLoai] [smallint] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DM_LoaiXe] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_NhanHieuXe]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NhanHieuXe](
	[MaNhanHieu] [smallint] IDENTITY(1,1) NOT NULL,
	[NhanHieu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DM_NhaSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaNhanHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_NoiDungThongBao]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NoiDungThongBao](
	[MaCauHinh] [tinyint] NOT NULL,
	[ChuDe] [nvarchar](100) NULL,
	[NoiDung] [nvarchar](1000) NOT NULL,
	[LoaiThongBao] [tinyint] NULL,
	[Email] [bit] NOT NULL,
	[SoNgayBaoTruoc] [tinyint] NOT NULL,
	[MaThongBao] [tinyint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_NoiDungThongBao] PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_RoleClaims]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_RoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_DM_RoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_Roles]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_DM_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_TepKemTheo]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TepKemTheo](
	[MaTep] [int] IDENTITY(1,1) NOT NULL,
	[MaDoiTuong] [int] NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[NoiLuuTru] [nvarchar](300) NOT NULL,
	[NgayCapNhat] [datetime2](7) NOT NULL,
	[Loai] [tinyint] NOT NULL,
 CONSTRAINT [PK_TepKemTheo] PRIMARY KEY CLUSTERED 
(
	[MaTep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_ThongTinCauHinh]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_ThongTinCauHinh](
	[MaCauHinh] [tinyint] IDENTITY(1,1) NOT NULL,
	[DienThoai] [varchar](10) NULL,
	[TinNhan] [nvarchar](200) NULL,
	[HopThu] [varchar](50) NULL,
	[MatKhau] [nvarchar](100) NULL,
	[Host] [nvarchar](50) NULL,
	[Port] [int] NULL,
	[TenHienThi] [nvarchar](50) NULL,
	[IsDangKyLaiXe] [bit] NULL,
 CONSTRAINT [PK_ThongTinCauHinh] PRIMARY KEY CLUSTERED 
(
	[MaCauHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_UserClaims]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_DM_UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_UserLogins]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_UserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DM_UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_UserRoles]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_UserRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DM_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_Users]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_Users](
	[Id] [uniqueidentifier] NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[GioiTinh] [tinyint] NOT NULL,
	[NgaySinh] [datetime2](7) NULL,
	[SoGiayTo] [nvarchar](max) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[Orders] [int] NOT NULL,
	[PhongBanId] [int] NULL,
	[GroupId] [uniqueidentifier] NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_DM_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_UserTokens]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_UserTokens](
	[UserId] [uniqueidentifier] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_DM_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_Xe_HangGiayPhep]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_Xe_HangGiayPhep](
	[MaXe] [uniqueidentifier] NOT NULL,
	[MaHang] [varchar](3) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[SoHocVien] [tinyint] NULL,
 CONSTRAINT [PK_DM_Xe_HangGiayPhep] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_ChuongTrinh]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_ChuongTrinh](
	[MaChuongTrinh] [int] IDENTITY(1,1) NOT NULL,
	[TenChuongTrinh] [nvarchar](500) NOT NULL,
	[MoTa] [nvarchar](4000) NULL,
	[MaHang] [varchar](3) NULL,
	[SuDung] [bit] NOT NULL,
	[TepKemTheo] [nvarchar](260) NULL,
 CONSTRAINT [PK_LX_ChuongTrinhKhung] PRIMARY KEY CLUSTERED 
(
	[MaChuongTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_ChuongTrinh_MonHoc]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_ChuongTrinh_MonHoc](
	[MaChuongTrinh] [int] NOT NULL,
	[MaMon] [smallint] NOT NULL,
	[DonViTinh] [char](2) NULL,
	[SoLuong] [smallint] NULL,
	[ThuTu] [int] NULL,
 CONSTRAINT [PK_LX_ChuongTrinh_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaChuongTrinh] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_Duong]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_Duong](
	[MaDuong] [smallint] IDENTITY(1,1) NOT NULL,
	[TenDuong] [nvarchar](100) NOT NULL,
	[DiemDau] [geometry] NULL,
	[DiemCuoi] [geometry] NULL,
	[ChieuDai] [int] NULL,
 CONSTRAINT [PK_LX_Duong] PRIMARY KEY CLUSTERED 
(
	[MaDuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_GiaoVien]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_GiaoVien](
	[MaGiaoVien] [int] IDENTITY(1,1) NOT NULL,
	[MaDinhDanh] [varchar](8) NOT NULL,
	[AnhChanDung] [varchar](max) NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NULL,
	[DienThoai] [varchar](10) NULL,
	[MaHang] [varchar](3) NOT NULL,
	[MonGiangDay] [tinyint] NULL,
	[TrangThai] [tinyint] NOT NULL,
 CONSTRAINT [PK_LX_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[MaGiaoVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_GiaoVien_MonHoc]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_GiaoVien_MonHoc](
	[MaMon] [smallint] NOT NULL,
	[MaGiaoVien] [int] NOT NULL,
 CONSTRAINT [PK_LX_GiaoVien_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC,
	[MaGiaoVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_HocVien_Lop]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_HocVien_Lop](
	[MaHocVien] [int] NOT NULL,
	[MaLop] [bigint] NOT NULL,
 CONSTRAINT [PK_LX_HocVien_Lop] PRIMARY KEY CLUSTERED 
(
	[MaHocVien] ASC,
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_HocVien_VangHoc]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_HocVien_VangHoc](
	[MaLich] [bigint] NULL,
	[MaHocVien] [int] NULL,
	[LyDo] [nvarchar](500) NULL,
	[DanhVang] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_HoiDap]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_HoiDap](
	[MaTroChuyen] [uniqueidentifier] NOT NULL,
	[MaLuongTroChuyen] [uniqueidentifier] NULL,
	[MaNguoiGui] [uniqueidentifier] NOT NULL,
	[NgayGui] [datetime2](7) NULL,
	[NoiDung] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_LX_HoiDap] PRIMARY KEY CLUSTERED 
(
	[MaTroChuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_HoiDap_NguoiNhan]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_HoiDap_NguoiNhan](
	[MaTroChuyen] [uniqueidentifier] NOT NULL,
	[MaNguoiNhan] [uniqueidentifier] NOT NULL,
	[NgayNhan] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_KhaoSat_CauHoi]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_KhaoSat_CauHoi](
	[MaCauHoi] [smallint] NOT NULL,
	[Nhom] [tinyint] NULL,
	[NgayBatDau] [datetime2](7) NULL,
	[NgayKetThuc] [datetime2](7) NULL,
	[NoiDung] [nvarchar](500) NOT NULL,
	[SuDung] [bit] NOT NULL,
 CONSTRAINT [PK_LX_KhaoSat_CauHoi] PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_KhaoSat_TraLoi]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_KhaoSat_TraLoi](
	[MaCauHoi] [smallint] NULL,
	[MaHocVien] [int] NULL,
	[MaGiaoVien] [int] NULL,
	[Diem] [tinyint] NULL,
	[YKienKhac] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_KhoaDaoTao]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_KhoaDaoTao](
	[MaKhoa] [int] IDENTITY(1,1) NOT NULL,
	[MaChuongTrinh] [int] NULL,
	[MaDinhDanh] [nvarchar](12) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
	[NgayKhaiGiang] [date] NULL,
	[NgayBeGiang] [date] NULL,
	[NgaySatHach] [date] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_LX_KhoaDaoTao] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_LichDaoTao]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_LichDaoTao](
	[MaLich] [bigint] IDENTITY(1,1) NOT NULL,
	[MaLop] [bigint] NULL,
	[MaMon] [smallint] NULL,
	[MaGiaoVien] [int] NULL,
	[MaXe] [uniqueidentifier] NULL,
	[MaTuyen] [smallint] NULL,
	[HocBanDem] [bit] NULL,
	[Loai] [tinyint] NULL,
	[BatDau] [datetime2](7) NOT NULL,
	[KetThuc] [datetime2](7) NOT NULL,
	[DiaDiem] [nvarchar](500) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_LX_LichDaoTao] PRIMARY KEY CLUSTERED 
(
	[MaLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_LichDaoTao_ThayDoi]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_LichDaoTao_ThayDoi](
	[MaLich] [bigint] NULL,
	[LoaiDoiTuong] [bit] NOT NULL,
	[MaDoiTuongCu] [uniqueidentifier] NOT NULL,
	[MaDoiTuongMoi] [uniqueidentifier] NOT NULL,
	[LyDo] [nvarchar](1000) NOT NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[NguoiCapNhat] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_Lop]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_Lop](
	[MaLop] [bigint] IDENTITY(1,1) NOT NULL,
	[MaKhoa] [int] NULL,
	[TenLop] [nvarchar](20) NOT NULL,
	[Loai] [bit] NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [tinyint] NULL,
 CONSTRAINT [PK_LX_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_LoTrinhThucHanh]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_LoTrinhThucHanh](
	[MaTuyen] [smallint] NOT NULL,
	[MaDuong] [smallint] NOT NULL,
	[ThuTu] [tinyint] NULL,
 CONSTRAINT [PK_LX_LoTrinhThucHanh] PRIMARY KEY CLUSTERED 
(
	[MaTuyen] ASC,
	[MaDuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_MonHoc]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_MonHoc](
	[MaMon] [smallint] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](150) NOT NULL,
	[KyHieu] [nvarchar](10) NULL,
	[MoTa] [nvarchar](4000) NULL,
	[HinhThucHoc] [bit] NOT NULL,
	[ThucHanh] [bit] NOT NULL,
	[ChamDiem] [bit] NULL,
	[SuDung] [bit] NULL,
	[TepKemTheo] [nvarchar](260) NULL,
 CONSTRAINT [PK_LX_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_NhatKyThucHanh]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_NhatKyThucHanh](
	[MaPhienHoc] [uniqueidentifier] NULL,
	[MaThietBi] [varchar](15) NULL,
	[BienSoXe] [varchar](10) NULL,
	[MaGiaoVien] [varchar](8) NULL,
	[MaHocVien] [varchar](23) NULL,
	[ToaDoBatDau] [geometry] NULL,
	[ThoiDiemBatDau] [datetime2](7) NULL,
	[ToaDoKetThuc] [geometry] NULL,
	[ThoiDiemKetThuc] [datetime2](7) NULL,
	[ThoiGian] [decimal](5, 2) NULL,
	[QuangDuong] [decimal](7, 3) NULL,
	[ThoiDiemNhan] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_QuaTrinhDaoTao]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_QuaTrinhDaoTao](
	[MaMon] [smallint] NULL,
	[MaHocVien] [int] NULL,
	[MaGiaoVien] [int] NULL,
	[MaDinhDanhKhoa] [nvarchar](12) NULL,
	[NgayHoc] [datetime2](7) NULL,
	[NgayKiemTra] [datetime2](7) NULL,
	[SoLan] [tinyint] NULL,
	[Diem] [decimal](3, 1) NULL,
	[DanhGia] [bit] NULL,
	[GhiChu] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LX_TuyenDuong]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LX_TuyenDuong](
	[MaTuyen] [smallint] IDENTITY(1,1) NOT NULL,
	[TenTuyen] [nvarchar](100) NOT NULL,
	[KyHieu] [nvarchar](10) NULL,
	[ChieuDai] [int] NULL,
	[MoTa] [nvarchar](1000) NULL,
	[SuDung] [bit] NOT NULL,
 CONSTRAINT [PK_LX_TuyenDuong] PRIMARY KEY CLUSTERED 
(
	[MaTuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TS_HocVien]    Script Date: 5/30/2025 10:35:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_HocVien](
	[MaHocVien] [int] IDENTITY(1,1) NOT NULL,
	[MaDinhDanh] [varchar](23) NULL,
	[HoDem] [nvarchar](50) NOT NULL,
	[AnhChanDung] [varchar](max) NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[GioiTinh] [tinyint] NULL,
	[NgaySinh] [date] NULL,
	[QuocTich] [varchar](3) NULL,
	[ThuongTru_MaTinh] [tinyint] NULL,
	[ThuongTru_MaHuyen] [smallint] NULL,
	[ThuongTru_MaXa] [smallint] NULL,
	[ThuongTru_DiaChi] [nvarchar](200) NULL,
	[CuTru_MaTinh] [tinyint] NULL,
	[CuTru_MaHuyen] [smallint] NULL,
	[CuTru_MaXa] [smallint] NULL,
	[CuTru_DiaChi] [nvarchar](200) NULL,
	[SoGiayTo] [varchar](12) NOT NULL,
	[CanCuoc] [bit] NOT NULL,
	[NgayCap] [date] NULL,
	[NoiCap] [nvarchar](100) NULL,
	[DienThoai] [varchar](10) NULL,
	[HopThu] [varchar](50) NULL,
	[SoGiayPhepCu] [varchar](12) NULL,
	[HangGiayPhepCu] [varchar](3) NULL,
	[NoiCapGiayPhepCu] [nvarchar](100) NULL,
	[NgayCapGiayPhepCu] [date] NULL,
	[TichHopGPLX] [bit] NULL,
	[ViPhamHanhChinh] [bit] NULL,
	[DangKyHang] [varchar](3) NULL,
	[DuSucKhoe] [bit] NOT NULL,
	[DaRutHoSo] [bit] NOT NULL,
	[DaNopHocPhi] [bit] NOT NULL,
	[NgayDangKy] [date] NOT NULL,
	[NgayTiepNhan] [date] NULL,
	[TrangThai] [tinyint] NOT NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[DangKyGiaoVien] [nvarchar](100) NULL,
 CONSTRAINT [PK_HocVien] PRIMARY KEY CLUSTERED 
(
	[MaHocVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DM_Groups] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[DM_NoiDungThongBao] ADD  CONSTRAINT [DF_NoiDungThongBao_Email]  DEFAULT ((0)) FOR [Email]
GO
ALTER TABLE [dbo].[DM_TepKemTheo] ADD  CONSTRAINT [DF_TepKemTheo_Loai]  DEFAULT ((0)) FOR [Loai]
GO
ALTER TABLE [dbo].[LX_ChuongTrinh] ADD  CONSTRAINT [DF_LX_ChuongTrinhKhung_SuDung]  DEFAULT ((1)) FOR [SuDung]
GO
ALTER TABLE [dbo].[LX_GiaoVien] ADD  CONSTRAINT [DF_LX_GiaoVien_GiangDay]  DEFAULT ((0)) FOR [MonGiangDay]
GO
ALTER TABLE [dbo].[LX_GiaoVien] ADD  CONSTRAINT [DF_LX_GiaoVien_TrangThai]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[LX_HocVien_VangHoc] ADD  CONSTRAINT [DF_LX_HocVien_VangHoc_DanhVang]  DEFAULT ((1)) FOR [DanhVang]
GO
ALTER TABLE [dbo].[LX_HoiDap] ADD  CONSTRAINT [DF_LX_HoiDap_MaTroChuyen]  DEFAULT (newsequentialid()) FOR [MaTroChuyen]
GO
ALTER TABLE [dbo].[LX_HoiDap] ADD  CONSTRAINT [DF_LX_HoiDap_NgayGui]  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[LX_KhaoSat_CauHoi] ADD  CONSTRAINT [DF_LX_KhaoSat_CauHoi_SuDung]  DEFAULT ((1)) FOR [SuDung]
GO
ALTER TABLE [dbo].[LX_LichDaoTao] ADD  CONSTRAINT [DF_LX_LichDaoTao_MaXe]  DEFAULT (NULL) FOR [MaXe]
GO
ALTER TABLE [dbo].[LX_LichDaoTao] ADD  CONSTRAINT [DF_LX_LichDaoTao_MaTuyen]  DEFAULT (NULL) FOR [MaTuyen]
GO
ALTER TABLE [dbo].[LX_LichDaoTao] ADD  CONSTRAINT [DF_LX_LichDaoTao_HocLaiDem]  DEFAULT ((0)) FOR [HocBanDem]
GO
ALTER TABLE [dbo].[LX_LichDaoTao_ThayDoi] ADD  CONSTRAINT [DF_LX_LichDaoTao_ThayDoi_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[LX_MonHoc] ADD  CONSTRAINT [DF_LX_MonHoc_HinhThucHoc]  DEFAULT ((1)) FOR [HinhThucHoc]
GO
ALTER TABLE [dbo].[LX_MonHoc] ADD  CONSTRAINT [DF_LX_MonHoc_ThucHanh]  DEFAULT ((0)) FOR [ThucHanh]
GO
ALTER TABLE [dbo].[LX_MonHoc] ADD  CONSTRAINT [DF_LX_MonHoc_ChamDiem]  DEFAULT ((1)) FOR [ChamDiem]
GO
ALTER TABLE [dbo].[LX_MonHoc] ADD  CONSTRAINT [DF_LX_MonHoc_SuDung]  DEFAULT ((1)) FOR [SuDung]
GO
ALTER TABLE [dbo].[LX_NhatKyThucHanh] ADD  CONSTRAINT [DF_LX_NhatKyThucHanh_ThoiDiemNhan]  DEFAULT (getdate()) FOR [ThoiDiemNhan]
GO
ALTER TABLE [dbo].[LX_QuaTrinhDaoTao] ADD  CONSTRAINT [DF_LX_QuaTrinhDaoTao_SoLan]  DEFAULT ((0)) FOR [SoLan]
GO
ALTER TABLE [dbo].[LX_QuaTrinhDaoTao] ADD  CONSTRAINT [DF_LX_QuaTrinhDaoTao_Diem]  DEFAULT ((0.0)) FOR [Diem]
GO
ALTER TABLE [dbo].[LX_TuyenDuong] ADD  CONSTRAINT [DF_LX_TuyenDuong_SuDung]  DEFAULT ((1)) FOR [SuDung]
GO
ALTER TABLE [dbo].[DM_GroupRoles]  WITH CHECK ADD  CONSTRAINT [FK_GroupRoles_Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[DM_Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DM_GroupRoles] CHECK CONSTRAINT [FK_GroupRoles_Groups_GroupId]
GO
ALTER TABLE [dbo].[DM_GroupRoles]  WITH CHECK ADD  CONSTRAINT [FK_GroupRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[DM_Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DM_GroupRoles] CHECK CONSTRAINT [FK_GroupRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[DM_NoiDungThongBao]  WITH CHECK ADD  CONSTRAINT [FK_NoiDungThongBao_ThongTinCauHinh] FOREIGN KEY([MaCauHinh])
REFERENCES [dbo].[DM_ThongTinCauHinh] ([MaCauHinh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DM_NoiDungThongBao] CHECK CONSTRAINT [FK_NoiDungThongBao_ThongTinCauHinh]
GO
ALTER TABLE [dbo].[DM_RoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_DM_RoleClaims_DM_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[DM_Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DM_RoleClaims] CHECK CONSTRAINT [FK_DM_RoleClaims_DM_Roles_RoleId]
GO
ALTER TABLE [dbo].[DM_TepKemTheo]  WITH CHECK ADD  CONSTRAINT [FK_TepKemTheo_HocVien] FOREIGN KEY([MaDoiTuong])
REFERENCES [dbo].[TS_HocVien] ([MaHocVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DM_TepKemTheo] CHECK CONSTRAINT [FK_TepKemTheo_HocVien]
GO
ALTER TABLE [dbo].[DM_UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_DM_UserClaims_DM_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[DM_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DM_UserClaims] CHECK CONSTRAINT [FK_DM_UserClaims_DM_Users_UserId]
GO
ALTER TABLE [dbo].[DM_UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_DM_UserLogins_DM_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[DM_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DM_UserLogins] CHECK CONSTRAINT [FK_DM_UserLogins_DM_Users_UserId]
GO
ALTER TABLE [dbo].[DM_UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_DM_UserRoles_DM_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[DM_Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DM_UserRoles] CHECK CONSTRAINT [FK_DM_UserRoles_DM_Roles_RoleId]
GO
ALTER TABLE [dbo].[DM_UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_DM_UserRoles_DM_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[DM_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DM_UserRoles] CHECK CONSTRAINT [FK_DM_UserRoles_DM_Users_UserId]
GO
ALTER TABLE [dbo].[DM_Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[DM_Groups] ([Id])
GO
ALTER TABLE [dbo].[DM_Users] CHECK CONSTRAINT [FK_Users_Groups_GroupId]
GO
ALTER TABLE [dbo].[DM_UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_DM_UserTokens_DM_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[DM_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DM_UserTokens] CHECK CONSTRAINT [FK_DM_UserTokens_DM_Users_UserId]
GO
ALTER TABLE [dbo].[LX_ChuongTrinh_MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_LX_ChuongTrinh_MonHoc_LX_ChuongTrinh1] FOREIGN KEY([MaChuongTrinh])
REFERENCES [dbo].[LX_ChuongTrinh] ([MaChuongTrinh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_ChuongTrinh_MonHoc] CHECK CONSTRAINT [FK_LX_ChuongTrinh_MonHoc_LX_ChuongTrinh1]
GO
ALTER TABLE [dbo].[LX_ChuongTrinh_MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_LX_ChuongTrinh_MonHoc_LX_MonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[LX_MonHoc] ([MaMon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_ChuongTrinh_MonHoc] CHECK CONSTRAINT [FK_LX_ChuongTrinh_MonHoc_LX_MonHoc]
GO
ALTER TABLE [dbo].[LX_GiaoVien_MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_LX_GiaoVien_MonHoc_LX_MonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[LX_MonHoc] ([MaMon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_GiaoVien_MonHoc] CHECK CONSTRAINT [FK_LX_GiaoVien_MonHoc_LX_MonHoc]
GO
ALTER TABLE [dbo].[LX_HocVien_Lop]  WITH CHECK ADD  CONSTRAINT [FK_LX_HocVien_Lop_LX_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LX_Lop] ([MaLop])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_HocVien_Lop] CHECK CONSTRAINT [FK_LX_HocVien_Lop_LX_Lop]
GO
ALTER TABLE [dbo].[LX_HocVien_Lop]  WITH CHECK ADD  CONSTRAINT [FK_LX_HocVien_Lop_TS_HocVien] FOREIGN KEY([MaHocVien])
REFERENCES [dbo].[TS_HocVien] ([MaHocVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_HocVien_Lop] CHECK CONSTRAINT [FK_LX_HocVien_Lop_TS_HocVien]
GO
ALTER TABLE [dbo].[LX_HocVien_VangHoc]  WITH CHECK ADD  CONSTRAINT [FK_LX_HocVien_VangHoc_LX_LichDaoTao] FOREIGN KEY([MaLich])
REFERENCES [dbo].[LX_LichDaoTao] ([MaLich])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_HocVien_VangHoc] CHECK CONSTRAINT [FK_LX_HocVien_VangHoc_LX_LichDaoTao]
GO
ALTER TABLE [dbo].[LX_HocVien_VangHoc]  WITH CHECK ADD  CONSTRAINT [FK_LX_HocVien_VangHoc_TS_HocVien] FOREIGN KEY([MaHocVien])
REFERENCES [dbo].[TS_HocVien] ([MaHocVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_HocVien_VangHoc] CHECK CONSTRAINT [FK_LX_HocVien_VangHoc_TS_HocVien]
GO
ALTER TABLE [dbo].[LX_HoiDap]  WITH CHECK ADD  CONSTRAINT [FK_LX_HoiDap_LX_HoiDap] FOREIGN KEY([MaLuongTroChuyen])
REFERENCES [dbo].[LX_HoiDap] ([MaTroChuyen])
GO
ALTER TABLE [dbo].[LX_HoiDap] CHECK CONSTRAINT [FK_LX_HoiDap_LX_HoiDap]
GO
ALTER TABLE [dbo].[LX_HoiDap_NguoiNhan]  WITH CHECK ADD  CONSTRAINT [FK_LX_HoiDap_NguoiNhan_LX_HoiDap] FOREIGN KEY([MaTroChuyen])
REFERENCES [dbo].[LX_HoiDap] ([MaTroChuyen])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_HoiDap_NguoiNhan] CHECK CONSTRAINT [FK_LX_HoiDap_NguoiNhan_LX_HoiDap]
GO
ALTER TABLE [dbo].[LX_KhaoSat_TraLoi]  WITH CHECK ADD  CONSTRAINT [FK_LX_KhaoSat_TraLoi_LX_KhaoSat_CauHoi] FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[LX_KhaoSat_CauHoi] ([MaCauHoi])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_KhaoSat_TraLoi] CHECK CONSTRAINT [FK_LX_KhaoSat_TraLoi_LX_KhaoSat_CauHoi]
GO
ALTER TABLE [dbo].[LX_KhaoSat_TraLoi]  WITH CHECK ADD  CONSTRAINT [FK_LX_KhaoSat_TraLoi_TS_HocVien] FOREIGN KEY([MaHocVien])
REFERENCES [dbo].[TS_HocVien] ([MaHocVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_KhaoSat_TraLoi] CHECK CONSTRAINT [FK_LX_KhaoSat_TraLoi_TS_HocVien]
GO
ALTER TABLE [dbo].[LX_KhoaDaoTao]  WITH CHECK ADD  CONSTRAINT [FK_LX_KhoaDaoTao_LX_ChuongTrinh1] FOREIGN KEY([MaChuongTrinh])
REFERENCES [dbo].[LX_ChuongTrinh] ([MaChuongTrinh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_KhoaDaoTao] CHECK CONSTRAINT [FK_LX_KhoaDaoTao_LX_ChuongTrinh1]
GO
ALTER TABLE [dbo].[LX_LichDaoTao]  WITH CHECK ADD  CONSTRAINT [FK_LX_LichDaoTao_LX_Lop1] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LX_Lop] ([MaLop])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_LichDaoTao] CHECK CONSTRAINT [FK_LX_LichDaoTao_LX_Lop1]
GO
ALTER TABLE [dbo].[LX_LichDaoTao]  WITH CHECK ADD  CONSTRAINT [FK_LX_LichDaoTao_LX_MonHoc1] FOREIGN KEY([MaMon])
REFERENCES [dbo].[LX_MonHoc] ([MaMon])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LX_LichDaoTao] CHECK CONSTRAINT [FK_LX_LichDaoTao_LX_MonHoc1]
GO
ALTER TABLE [dbo].[LX_LichDaoTao]  WITH CHECK ADD  CONSTRAINT [FK_LX_LichDaoTao_LX_TuyenDuong1] FOREIGN KEY([MaTuyen])
REFERENCES [dbo].[LX_TuyenDuong] ([MaTuyen])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LX_LichDaoTao] CHECK CONSTRAINT [FK_LX_LichDaoTao_LX_TuyenDuong1]
GO
ALTER TABLE [dbo].[LX_LichDaoTao_ThayDoi]  WITH CHECK ADD  CONSTRAINT [FK_LX_LichDaoTao_ThayDoi_LX_LichDaoTao] FOREIGN KEY([MaLich])
REFERENCES [dbo].[LX_LichDaoTao] ([MaLich])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_LichDaoTao_ThayDoi] CHECK CONSTRAINT [FK_LX_LichDaoTao_ThayDoi_LX_LichDaoTao]
GO
ALTER TABLE [dbo].[LX_Lop]  WITH CHECK ADD  CONSTRAINT [FK_LX_Lop_LX_KhoaDaoTao] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[LX_KhoaDaoTao] ([MaKhoa])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LX_Lop] CHECK CONSTRAINT [FK_LX_Lop_LX_KhoaDaoTao]
GO
ALTER TABLE [dbo].[LX_LoTrinhThucHanh]  WITH CHECK ADD  CONSTRAINT [FK_LX_LoTrinhThucHanh_LX_Duong] FOREIGN KEY([MaDuong])
REFERENCES [dbo].[LX_Duong] ([MaDuong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_LoTrinhThucHanh] CHECK CONSTRAINT [FK_LX_LoTrinhThucHanh_LX_Duong]
GO
ALTER TABLE [dbo].[LX_LoTrinhThucHanh]  WITH CHECK ADD  CONSTRAINT [FK_LX_LoTrinhThucHanh_LX_TuyenDuong] FOREIGN KEY([MaDuong])
REFERENCES [dbo].[LX_TuyenDuong] ([MaTuyen])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_LoTrinhThucHanh] CHECK CONSTRAINT [FK_LX_LoTrinhThucHanh_LX_TuyenDuong]
GO
ALTER TABLE [dbo].[LX_QuaTrinhDaoTao]  WITH CHECK ADD  CONSTRAINT [FK_LX_QuaTrinhDaoTao_LX_MonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[LX_MonHoc] ([MaMon])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LX_QuaTrinhDaoTao] CHECK CONSTRAINT [FK_LX_QuaTrinhDaoTao_LX_MonHoc]
GO
ALTER TABLE [dbo].[LX_QuaTrinhDaoTao]  WITH CHECK ADD  CONSTRAINT [FK_LX_QuaTrinhDaoTao_TS_HocVien] FOREIGN KEY([MaHocVien])
REFERENCES [dbo].[TS_HocVien] ([MaHocVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_QuaTrinhDaoTao] CHECK CONSTRAINT [FK_LX_QuaTrinhDaoTao_TS_HocVien]
GO
ALTER TABLE [dbo].[LX_GiaoVien_MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_LX_GiaoVien_MonHoc_LX_GiaoVien] FOREIGN KEY([MaGiaoVien])
REFERENCES [dbo].[LX_GiaoVien] ([MaGiaoVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_GiaoVien_MonHoc] CHECK CONSTRAINT [FK_LX_GiaoVien_MonHoc_LX_GiaoVien]
GO
ALTER TABLE [dbo].[LX_LichDaoTao]  WITH CHECK ADD  CONSTRAINT [FK_LX_LichDaoTao_LX_GiaoVien] FOREIGN KEY([MaGiaoVien])
REFERENCES [dbo].[LX_GiaoVien] ([MaGiaoVien])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LX_LichDaoTao] CHECK CONSTRAINT [FK_LX_LichDaoTao_LX_GiaoVien]
GO
ALTER TABLE [dbo].[LX_KhaoSat_TraLoi]  WITH CHECK ADD  CONSTRAINT [FK_LX_KhaoSat_TraLoi_LX_GiaoVien] FOREIGN KEY([MaGiaoVien])
REFERENCES [dbo].[LX_GiaoVien] ([MaGiaoVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LX_KhaoSat_TraLoi] CHECK CONSTRAINT [FK_LX_KhaoSat_TraLoi_LX_GiaoVien]
GO
ALTER TABLE [dbo].[LX_QuaTrinhDaoTao]  WITH CHECK ADD  CONSTRAINT [FK_LX_QuaTrinhDaoTao_LX_GiaoVien] FOREIGN KEY([MaGiaoVien])
REFERENCES [dbo].[LX_GiaoVien] ([MaGiaoVien])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LX_QuaTrinhDaoTao] CHECK CONSTRAINT [FK_LX_QuaTrinhDaoTao_LX_GiaoVien]
GO
